In [35]:
import pandas as pd

In [36]:
import numpy as np

Question 1: Download and load the Ames CSV file. Read the file into a Pandas DataFrame and display the first five rows.

In [37]:
df = pd.read_csv(r"C:\Osman's Folder\Osman Nayeem\WTA Data\AmesHousing.csv")

In [38]:
df.head(6)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
5,6,527105030,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,195500

Question 2: Print the highest and lowest priced homes in Ames.

In [50]:
broken_housing_df.shape

NameError: name 'broken_housing_df' is not defined

In [46]:
broken_housing_df.describe(

NameError: name 'broken_housing_df' is not defined

Question 3:  How many categories does lot size have?

In [12]:
counts = df.groupby(['Lot Frontage', 'Lot Area', 'Lot Shape']).size()

In [13]:
print(counts)

Lot Frontage  Lot Area  Lot Shape
21.0          1470      Reg          1
              1476      Reg          1
              1477      Reg          2
              1484      Reg          1
              1491      Reg          1
                                    ..
182.0         14572     IR3          1
195.0         41600     IR1          1
200.0         43500     Reg          1
313.0         27650     IR2          1
              63887     IR3          1
Length: 1800, dtype: int64

Question 4:  What is the range of years for the house listings in the data?

In [20]:
start_date = '2010'  
end_date = '2010'  
date_range = pd.date_range(start=start_date, end=end_date)

print(date_range)

DatetimeIndex(['2010-01-01'], dtype='datetime64[ns]', freq='D')

Question 5:  What is the total number of all homes sold in Ames for all years?

In [43]:
max_SalePrice = df['SalePrice'].max()
print('Maximum SalePrice:', max_SalePrice)

Maximum SalePrice: 755000

Question 6:  How many nulls or NA are there in the Lot Frontage column?

In [22]:
null_count = df.isnull().sum().sum()
print('Number of null values:', null_count)

Number of null values: 15749

Question 7:  How many items have a value in Alley and what is the total number of  NA in the column?

In [42]:
df[df.Alley == 'NA'].shape[0]

0

Question 8: What are all the homes in Gilbert with Yr Sold being 2009 and 2010?