In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display

In [3]:
df = pd.read_csv(r"C:\Users\osman\PycharmProjects\diabetes_uncleaned_data.csv")

In [8]:
df.head(11)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
3,11.0,132.0,83,11,376,4.1,2.772,NaN,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
6,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE
7,0.0,179.0,0,19,238,47.7,2.656,77.0,FALSE
8,11.0,31.0,38,50,455,38.4,0.089,115.0,FALSE
9,13.0,151.0,73,42,662,23.3,0.902,36.0,FALSE
10,4.0,51.0,59,23,649,20.9,2.329,32.0,TRUE

Part 2: Missing Data

Question 1:  In your Jupyter Notebook, find columns with missing data.

In [9]:
print(df.isnull())

      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin    BMI  \
0           False    False          False          False    False  False
1           False    False          False          False    False  False
2           False    False          False          False    False  False
3           False    False          False          False    False  False
4           False    False          False          False    False  False
...           ...      ...            ...            ...      ...    ...
999         False    False          False          False    False  False
1000        False     True          False          False    False  False
1001        False    False          False          False    False  False
1002        False    False          False          False    False  False
1003        False    False          False          False    False  False

      DiabetesPedigreeFunction    Age  Outcome
0                        False  False    False
1                        False  False    False
2                        False  False    False
3                        False   True    False
4                        False  False    False
...                        ...    ...      ...
999                      False  False    False
1000                     False  False    False
1001                     False  False    False
1002                     False  False    False
1003                     False  False    False

[1004 rows x 9 columns]

Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df.

In [15]:
df.dropna(subset=['Pregnancies','Glucose','BloodPressure', 'SkinThickness','Insulin','BMI', 'DiabetesPedigreeFunction','Age','Outcome' ], inplace=True)
print(df)

      Pregnancies  Glucose BloodPressure  SkinThickness  Insulin   BMI  \
0             3.0    167.0            39             28      545  53.0
1            13.0    151.0           107             38    10000   9.2
2             8.0     59.0           109             18      739  59.1
4            10.0    165.0            48             37      737  39.4
5          -100.0    142.0            88             39       82  42.7
...           ...      ...           ...            ...      ...   ...
998           6.0    110.0            26             27      590  20.8
999           6.0    110.0            26             27      590  20.8
1001          4.0     80.0            24              6      268  48.9
1002          3.0    142.0         Error             10      299   4.8
1003          6.0    151.0            60             26      362  43.4

      DiabetesPedigreeFunction    Age Outcome
0                        2.447  125.0   FALSE
1                        0.507  148.0   FALSE
2                        1.769   91.0    TRUE
4                        0.729   73.0   FALSE
5                        1.369  148.0    TRUE
...                        ...    ...     ...
998                      1.185   95.0   FALSE
999                      1.185   95.0   FALSE
1001                     0.989   81.0    TRUE
1002                     2.411   71.0    TRUE
1003                     2.027   23.0   FALSE

[840 rows x 9 columns]

Question 3:  Print out the number of rows in the dataframe.

In [17]:
row_count = len(df)
print(f'The DataFrame has {row_count} rows.')

The DataFrame has 840 rows.

Question 4:  In your jupyter notebook, discuss why this could be a problem.  What other methods could you use in this situation?

This could be a problem becuase having missing data will lead to innacurate analysis results which is something a data anaylist wants to avoid at all costs.

Part 3:  Duplicated Data

Question 1:  In your Jupyter Notebook, find the rows of duplicated data in the pima_missing_fixed_df and print them.

In [25]:
duplicate_rows = df.duplicated()
print(duplicate_rows)

0       False
1       False
2       False
4       False
5       False
        ...
998     False
999      True
1001    False
1002    False
1003     True
Length: 840, dtype: bool

Question 2:  Write code to remove the duplicate rows and save the new dataframe as pima_dedupped_df

In [27]:
display(df.drop_duplicates())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
996,6.0,117.0,91,28,212,1.0,1.969,137.0,FALSE
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE

Question 3: Print out the number of rows in the dataframe

In [28]:
row_count = len(df)
print(f'The DataFrame has {row_count} rows.')

The DataFrame has 840 rows.

Part 4: Mis-typed Columns/Broken Data

Question 1: In your Jupyter notebook, find the columns where most of the data seems to be one type of data, and there seems to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error.